/* RESET */
/* ===== FONT SYSTEM (HANDCRAFTED) ===== */

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #E9DFD2;  /* soft warm brown */
  color: #4A2C1A;
}

/* Main headings */
h1,
h2,
h3,
.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 3px;
}

/* Story / poetic lines */
.story-line,
.hero-content h1 span,
.founder h3 {
  font-family: 'Playfair Dispplay', serif;
  font-size: 34px;
  letter-spacing: 1px;
}

/* Navigation + buttons */
.navbar,
.menu a,
.gallery-btn,
.home-btn,
.tabs button,
select {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
  line-height: 1.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: #111;
}

/* ================= HERO ================= */

.hero {
  position: relative;
  height: 100vh;
  background: #f3ede8;
  /* plain light background */
  overflow: hidden;
}

/* WAVE IMAGE (TOP ONLY) */
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: url("/static/images/bg5.jpeg") center/cover no-repeat;
  z-index: 1;

  clip-path: polygon(0% 0%,
      100% 0%,
      100% 80%,
      85% 85%,
      70% 80%,
      55% 85%,
      40% 80%,
      25% 85%,
      10% 80%,
      0% 85%);
}

/* ================= NAVBAR ================= */

.navbar {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.logo {
  letter-spacing: 4px;
  font-weight: 500;
}

.hamburger {
  position: relative;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  top: 28px;
  background: #f3ede8;
  padding: 15px 20px;
  box-shadow: 0 20px 50px rgba(92, 35, 69, 0.73);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #111;
  margin: 10px 0;
  font-size: 14px;
}

.hamburger:hover .menu {
  display: block;
}

/* ================= HERO CONTENT ================= */

/* BRIDE TEXT OVERLAY */
.hero-content {
  position: relative;
  z-index: 5;
  margin-top: 55vh;
  /* below wave */
  text-align: center;
   background: #f3ede8;
}

.hero-content h1 {
  font-family: 'Playfair Dispplay', serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #6a3f07;
}
.hero-content h2 {
  font-family: 'Playfair Dispplay', serif;
  font-size: 26px;
  letter-spacing: 1px;
  color: #1e1509;
}
/* ===============================
   HERO TITLE ANIMATION
================================= */

.hero-content h1,
.hero-content h2{

    opacity:0;
    transform:translateY(60px);

    animation:heroSlide 1.8s ease forwards;

}

.hero-content h1{
    animation-delay:.3s;
}

.hero-content h2{
    animation-delay:.9s;
}

@keyframes heroSlide{

    0%{
        opacity:0;
        transform:translateY(60px);
    }

    100%{
        opacity:1;
        transform:translateY(0);
    }

}         


/* SOCIAL ICONS */
.social-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.social-icons a {
  color: #111;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.15);
}

/* GALLERY BUTTON */
.gallery-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 36px;
  border: 1px solid #030302;
  text-decoration: burlywood;
  color: #111;
}

/* ================= HOME GRID ================= */


.grid-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.grid-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* ================= TWO COLUMN ================= */

.services h2{
  font-family: 'Playfair Dispplay', serif;
  font-size: 28px;
  letter-spacing: 1px;
  color: #191816;
}
.services h3{
  font-family: 'Playfair Dispplay', serif;
  font-size: 40px;
  letter-spacing: 1px;
  color: #6a3f07;
}

.service-list {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 36px;
  border: 1px solid #7b5d09;
  font-family: 'Playfair Dispplay', serif;
  font-size: 24px;
  text-decoration: rgb(148, 108, 13);
  color: #422c07;
}

/* ================= SERVICES ================= */

.services {
  text-align: center;
  padding: 100px 40px;
}

.service-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

/* ================= FEATURE GRID ================= */

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 60px;
}

.feature-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================= FOUNDER ================= */

.founder {
  text-align: center;
  padding: 100px;
}

.founder img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* ================= CONTACT ================= */

.contact {
  text-align: center;
  padding: 80px;
  background: #938181;
}

/* INFO SECTIONS */

.info-section {
  display: flex;
  gap: 80px;
  padding: 100px 80px;
  align-items: center;
}

.info-section.reverse {
  flex-direction: row-reverse;
}

/* PHOTO DESIGN */
.info-photo img {
  width: 360px;
  height: 520px;
  object-fit: cover;
  border-radius: 180px 180px 20px 20px;
  padding: 10px;
  box-shadow: 0 20px 50px rgba(92, 35, 69, 0.73);
}

/* TEXT + TABS */
.info-text {
  max-width: 800px;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.tab {
  background: none;
  border: black;
  font-size: 26px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.8;
}

.tab.active {
  opacity: 1;
  border-bottom: 1px solid #111;
  padding-bottom: 6px;
}

.tab-content {
  display: none;
  font-size: 40px;
  line-height: 1.7;
}

.tab-content.active {
  display: block;
}

/* ================= GALLERY ================= */

/* GALLERY HEADER (TOP BAR) */
.gallery-header {
  background: #f3ede8;
  /* warm, timeless tone */
  padding: 40px 60px 35px;
}

.gallery-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-header h1 {
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 28px;
}

.home-btn {
  text-decoration: none;
  border: 1px solid #111;
  padding: 10px 28px;
  color: #111;
  font-size: 14px;
}

/* DROPDOWN NAV */
.gallery-nav {
  margin-top: 28px;
}

.gallery-nav select {
  width: 300px;
  padding: 12px 18px;
  font-size: 14px;
  border: 1px solid #111;
  background: transparent;
  appearance: none;
  letter-spacing: 1px;
}

/* PAGE WRAPPER */
.gallery-page {
  padding: 80px 60px;
}

/* EACH SECTION */
.gallery-section {
  margin-bottom: 120px;
}

/* STORY-LINE HEADING */
.gallery-section h2 {
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.gallery-section .story-line {
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.65;
  margin-bottom: 40px;
}

/* HERO IMAGE (ONE PER SECTION) */
.gallery-hero {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}

.gallery-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* IMAGE GRID (3 IN LINE) */
.gallery-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

/* IMAGES */
.gallery-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.9s ease forwards;
}

/* STAGGER EFFECT */
.gallery-row img:nth-child(1) {
  animation-delay: 0.1s;
}

.gallery-row img:nth-child(2) {
  animation-delay: 0.25s;
}

.gallery-row img:nth-child(3) {
  animation-delay: 0.4s;
}

.gallery-row img:nth-child(4) {
  animation-delay: 0.55s;
}

.gallery-row img:nth-child(5) {
  animation-delay: 0.7s;
}

.gallery-row img:nth-child(6) {
  animation-delay: 0.85s;
}

/* SUBTLE HOVER */
.gallery-row img:hover {
  opacity: 0.92;
  transform: scale(1.02);
}

/* FADE UP ANIMATION */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gallery-grid img:hover {
  transform: scale(1.03);
  transition: transform 0.4s ease;
}

/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 768px) {

  /* BODY */
  body {
    overflow-x: hidden;
  }

  /* NAVBAR */
  .navbar {
    padding: 20px;
  }

  .logo {
    font-size: 14px;
    letter-spacing: 3px;
  }

  /* HERO */
  .hero {
    height: auto;
    padding-bottom: 60px;
  }

  .hero::after {
    height: 45%;
  }

  .hero-content {
    margin-top: 45vh;
    padding: 0 20px;
  }

  .hero-content h1 {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
  }

  /* SOCIAL ICONS */
  .social-icons {
    gap: 18px;
  }

  /* BUTTON */
  .gallery-btn {
    padding: 10px 28px;
    font-size: 13px;
  }

  /* 9 IMAGE GRID */
  .grid-9 {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px 20px;
  }

  .split-section {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;
}

/* LEFT SIDE */
.experience-box {
  background: #f5efe6;
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-box h2 {
  font-size: 48px;
  color: #5c3c20;
  margin-bottom: 15px;
}

.experience-box h3 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #7a5535;
}

.experience-box .highlight {
  font-weight: 600;
  margin-bottom: 10px;
}

.experience-box p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 18px;
}

/* RIGHT SIDE IMAGES */
.gallery-grid {
  padding: 40px;
}

  /* INFO SECTIONS */
  .info-section {
    flex-direction: column;
    padding: 60px 20px;
    gap: 40px;
  }

  .info-section.reverse {
    flex-direction: column;
  }

  .info-photo img {
    width: 260px;
    height: 380px;
    border-radius: 160px 160px 20px 20px;
  }

  /* TABS */
  .tabs {
    gap: 14px;
    flex-wrap: wrap;
  }

  .tab {
    font-size: 18px;
  }

  .tab-content {
    font-size: 22px;
    line-height: 1.6;
  }

  /* SERVICES */
  .services {
    padding: 70px 20px;
  }

  .service-list {
    flex-direction: column;
    gap: 18px;
  }

  /* FEATURE GRID */
  .feature-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 20px;
  }

  .feature-grid img {
    height: 280px;
  }

  /* FOUNDER */
  .founder {
    padding: 60px 20px;
  }

  /* CONTACT */
  .contact {
    padding: 60px 20px;
    font-size: 14px;
  }

  /* GALLERY PAGE */
  .gallery-header {
    padding: 30px 20px;
  }

  .gallery-header h1 {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .home-btn {
    padding: 8px 20px;
    font-size: 12px;
  }

  .gallery-nav select {
    width: 100%;
  }

  .gallery-page {
    padding: 50px 20px;
  }

  .gallery-section h2 {
    font-size: 24px;
    letter-spacing: 2px;
  }

  .gallery-hero {
    height: 300px;
  }

  .gallery-row {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .gallery-row img {
    height: 260px;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-card {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.image-card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.tab {
  position: relative;
}

.tab::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #6B8E23;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

@import url("animations.css");
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #F5F1E8;
}

.navbar {
  height: 90px; /* adjust if needed */
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  background-color: #F5F1E8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #4B2E2B;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: lch(54.65% 57.15 119.6);
  left: 0;
  bottom: -6px;
  transition: 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #6B8E23;
}
.story-section {
    background-color: #E9DFD2;
    text-align: center;
    padding: 100px 20px;
}

.welcome-text {
    font-size: 18px;
    color: #6B4A32;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.brand-name {
    font-size: 20px;
    color: #5A3825;
    margin-bottom: 30px;
}

.main-heading {
    font-family: 'Playfair Display', serif;
    font-size: 75px;
    line-height: 1.1;
    font-weight: 500;
    color: #4A2C1A;
    margin-bottom: 40px;
}

.gallery-btn {
    display: inline-block;
    background-color: #5A2E0C;
    color: white;
    padding: 16px 120px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 50px;
    transition: 0.4s ease;
}

.gallery-btn:hover {
    background-color: #6B8E23; /* olive touch */
}

.description {
    max-width: 850px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    color: #5A3825;
}
.photo-story-section {
  display: flex;
  align-items: center;
  padding: 80px 60px;
  gap: 60px;
}

/* LEFT SIDE TEXT AREA */
.photo-story-text {
  width: 40%;
  background: #987c53;
  padding: 60px 50px;
  border-radius: 20px;
  position: relative;
}

/* Tab label on top */
.tab-label {
  position: absolute;
  top: -15px;
  left: 40px;
  background: #6c5026;
  color: #fff;
  padding: 8px 22px;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
} 

.photo-story-text h2 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #e8eded;
}

.photo-story-text h3 {
  font-size: 20px;
  margin-bottom: 25px;
  color: #dccfa4;;
}

.photo-story-text p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 18px;
}
/* ================= HERITAGE 4 GRID ================= */

.heritage-grid-section {
  padding: 100px 60px;
  background: #F5F1E8; /* soft handcrafted beige */
}

.heritage-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.grid-item {
  overflow: hidden;
  border-radius: 8px;
}

.grid-item img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* Subtle cinematic hover */
.grid-item:hover img {
  transform: scale(1.05);
}
/* ================= WHY CHOOSE US ================= */

.why-section {
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  padding: 120px 80px;
  background: linear-gradient(to left, #f5f1e8 40%, #f5f1e8 60%);
  gap: 60px;
}

/* IMAGE SIDE */
.why-image img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 220px 220px 10px 10px;
  box-shadow: 0 30px 60px rgba(240, 238, 238, 0.15);
  transition: transform 0.6s ease;
}

.why-image img:hover {
  transform: scale(1.03);
}

/* CONTENT SIDE */
.why-content {
  padding-right: 50px;
}

.section-label {
  letter-spacing: 4px;
  font-size: 30px;
  color: #7a5535;
  margin-bottom: 20px;
}

.why-content h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: #4A2C1A;
}

.why-content h2 span {
  color: #624b10;
}

.why-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 40px;
  color: #5A3825;
}

/* POINTS */
.why-points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.why-points h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.why-points p {
  font-size: 14px;
  line-height: 1.6;
}
/* TAB CARD BEHIND TEXT */

.tab-card {
  background: #c7b697;
  padding: 45px 50px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 20px 45px rgba(24, 7, 7, 0.7);
  z-index: 1;
}

/* WHY SECTION FRAME */

.why-section {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 100px 80px;
}

/* IMAGE SIDE */

.why-image img {
  width: 380px;
  height: 520px;
  object-fit: cover;
  border-radius: 180px 180px 20px 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* TEXT SIDE */

.why-content {
  flex: 1;
  position: relative;
}

/* TAB CARD */

.tab-card {
  background: #c7b697;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 45px rgba(255, 252, 250, 0.712);
  position: relative;
}

/* ABOUT FRAME (SAME AS WHY) */
.about-frame {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row-reverse;   /* 👈 THIS flips it */
}

.about-image img {
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 220px 220px 10px 10px;
  box-shadow: 0 30px 60px rgba(240, 238, 238, 0.15);
  transition: transform 0.6s ease;
}

.about-image img:hover {
  transform: scale(1.03);
}

/* CONTENT SIDE */
.about-content {
  padding-left: 50px;
}

.section-label {
  letter-spacing: 4px;
  font-size: 30px;
  color: #7a5535;
  margin-bottom: 20px;
}

.about-content h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: #4A2C1A;
}

.about-content h2 span {
  color: #624b10;
}

.about-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 40px;
  color: #5A3825;
}

/* POINTS */
.about-points {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.about-points h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-points p {
  font-size: 14px;
  line-height: 1.6;
}
/* TAB CARD BEHIND TEXT */

.tab-card {
  background: #c7b697;
  padding: 45px 50px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 20px 45px rgba(24, 7, 7, 0.7);
  z-index: 1;
}

/* WHY SECTION FRAME */

.about-section {
  display: flex;
  align-items: center;
  padding-right: 50px;
  gap: 60px;
  padding: 100px 80px;
}

/* IMAGE SIDE */

.about-image img {
  width: 380px;
  height: 520px;
  object-fit: cover;
  border-radius: 180px 180px 20px 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* TEXT SIDE */

.about-content {
  flex: 1;
  position: relative;
}
/* FOUNDER MINIMAL SECTION */

.founder-section {
  padding: 100px 60px;
  background: #F5F1E8;
}

.founder-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.founder-image img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}

.founder-details {
  border-left: 2px solid #6a3f07;
  padding-left: 40px;
}

.founder-name {
  font-size: 38px;
  color: #4A2C1A;
  margin-bottom: 5px;
}

.founder-role {
  font-size: 16px;
  color: #7a5535;
  margin-bottom: 20px;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.contact-line p {
  font-size: 16px;
  color: #4A2C1A;
} 
.founder-wrapper {
  flex-direction: column;
  text-align: center;
}

.founder-details {
  border-left: none;
  padding-left: 0;
}

.bride-btn-wrapper {
    text-align: center;
    margin: 60px 0;
}

.bride-btn {
    display: inline-block;
    background-color: #5A2E0C;
    color: white;
    padding: 16px 120px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 50px;
    transition: 0.4s ease;
}

.bride-btn:hover {
    background-color: #6B8E23; /* olive touch */
}
.book-section {
    background: #eae1d6;
    padding: 80px 10%;
}

.book-title {
    font-size: 48px;
    letter-spacing: 3px;
    color: #4b2e16;
}

.book-sub {
    margin-bottom: 40px;
}

.book-form .row {
    display: flex;
    gap: 20px;
}

.field {
    margin-bottom: 15px;
    flex: 1;
}

.field input {
    width: 100%;
    padding: 14px;
    border: 1px solid #4b2e16;
    background: #f5f5f5;
}

.checkbox-group{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:10px;
}

.checkbox-group label{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
    font-size:17px;
    color:#4b2e16;
}

.checkbox-group input[type="radio"]{
    width:18px;
    height:18px;
    accent-color:#5A2E0C;
    cursor:pointer;
    margin:0;
}

.submit-btn {
    padding: 12px 35px;
    border-radius: 25px;
    background: #5A2E0C;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #6B8E23;
}
.social-section {
    text-align: center;
    padding: 60px 0;
}

.book-signature {
    background: #8d7d70;
    color: rgb(11, 10, 10);
    text-align: center;
    padding: 20px;
}
 
/* BOOK PAGE PHOTO SECTION */

.book-gallery {
    padding: 100px 60px;
    background: #F5F1E8;
    text-align: center;
}

.book-gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.book-gallery-grid img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.6s ease;
}

.book-gallery-grid img:hover {
    transform: scale(1.03);
}

.book-signature {
    text-align: center;
    margin-top: 60px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #5A3825;
}

/* GALLERY PREVIEW */
.gallery-preview {
    position: relative;
    width: 80%;
    margin: 50px auto;
}

.gallery-preview img {
    width: 100%;
    border-radius: 10px;
}

.view-btn-wrapper {
    text-align:center;
    margin: 60px 0;
}

.view-btn {
    display: inline-block;
    background-color: #5A2E0C;
    color: white;
    padding: 16px 120px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 50px;
    transition: 0.4s ease;
}

.view-btn:hover {
    background-color: #6B8E23; /* olive touch */
}

.hero-section img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
}

.landscape {
    width: 90%;
    margin: 60px auto;
}

.landscape img {
    width: 100%;
    height: auto;   /* important change */
    border-radius: 10px;
    display: block;
}

.portrait-grid {
    width: 100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.portrait-grid img {
    width: 100%;
    height: 100%;   /* important change */
    border-radius: 10px;
    display: block;
}
/* ABOUT HERO */

.about-hero{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#E9DFD2;
    padding:0 20px;
}

.about-hero h5{
    letter-spacing:4px;
    color:#7a5535;
    margin-bottom:15px;
}

.about-hero h1{
    font-size:70px;
    color:#4A2C1A;
    margin-bottom:20px;
}

.about-hero p{
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

/* STORY */

.about-story{
    display:flex;
    align-items:center;
    gap:60px;
    padding:100px 80px;
}

.about-story-image img{
    width:380px;
    height:520px;
    object-fit:cover;
    border-radius:180px 180px 20px 20px;
}

.about-story-content{
    background:#c7b697;
    padding:50px;
    border-radius:12px;
    position:relative;
}

.about-story-content h2{
    margin-bottom:20px;
}

.about-story-content p{
    margin-bottom:15px;
}

/* VALUES */

.values-section{
    padding:100px 60px;
    text-align:center;
}

.values-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:50px;
}

.value-card{
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.value-card i{
    font-size:40px;
    color:#6a3f07;
    margin-bottom:20px;
}

/* TIMELINE */

.timeline-section{
    padding:100px 60px;
    background:#f5f1e8;
    text-align:center;
}

.timeline{
    display:flex;
    justify-content:center;
    gap:50px;
    margin-top:50px;
}

.timeline-item{
    background:white;
    padding:30px;
    width:250px;
}

/* QUOTE */

.quote-section{
    text-align:center;
    padding:120px 40px;
}

.quote-section h2{
    font-size:45px;
    color:#5A2E0C;
}
/* ===========================
MAIN GALLERY HERO
=========================== */

.gallery-hero {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    margin-bottom: 70px;
}

.gallery-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.gallery-overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
to top,
rgba(0,0,0,.55),
rgba(0,0,0,.18),
rgba(0,0,0,.05)
);

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    padding:80px;
  
}

.gallery-overlay h1{

    color:rgba(255,255,255,.88);

    font-size:65px;

    font-family:'Playfair Display',serif;

    margin-bottom:18px;

    letter-spacing:3px;

    text-shadow:0 4px 15px rgba(0,0,0,.25);

}
.gallery-overlay p{

    color:rgba(255,255,255,.75);

    font-size:19px;

    line-height:1.8;

    max-width:650px;

}

.gallery-view-btn {
    display: inline-block;
    width: 220px;
    padding: 14px 0;
    background-color: #5A2E0C;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.4s ease;
}

.gallery-view-btn:hover{
    background-color: #6B8E23; /* olive touch */
}

.gallery-hero:not(:last-child){

    margin-bottom:70px;
}
.flash-message{
    width:420px;
    margin:20px auto;
    padding:15px;
    text-align:center;
    border-radius:8px;
    font-size:16px;
    font-weight:500;
}

.flash-message.success{
    background:#d4edda;
    color:#155724;
    border:1px solid #c3e6cb;
}

.flash-message.error{
    background:#f8d7da;
    color:#721c24;
    border:1px solid #f5c6cb;
}