<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AN Photography</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wedding.css') }}">
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600&family=Cormorant+Garamond:wght@300;400;500&family=Allura&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<!-- HERO SECTION -->
<!-- 1 LANDSCAPE -->
<div class="landscape">
    <img src="static/images/bride/brideland1.jpeg" alt="">
</div>

<!-- 6 PORTRAITS -->
<div class="portrait-grid">
    <img src="static/images/bride/b1.jpeg">
    <img src="static/images/bride/b2.jpeg">
    <img src="static/images/bride/b3.jpeg">
    <img src="static/images/bride/b4.jpeg">
    <img src="static/images/bride/b5.jpeg">
    <img src="static/images/bride/b6.jpeg">
</div>

<!-- 1 LANDSCAPE -->
<div class="landscape">
    <img src="static/images/bride/brideland2.jpeg" alt="">
</div>

<!-- 6 PORTRAITS -->
<div class="portrait-grid">
    <img src="static/images/bride/b7.jpeg">
    <img src="static/images/bride/b8.jpeg">
    <img src="static/images/bride/b9.jpeg">
    <img src="static/images/bride/b10.jpeg">
    <img src="static/images/bride/b11.jpeg">
    <img src="static/images/bride/b12.jpeg">
</div>
<div class="landscape">
    <img src="static/images/bride/brideland3.jpeg" alt="">
</div>

<!-- 6 PORTRAITS -->
<div class="portrait-grid">
    <img src="static/images/bride/b13.jpeg">
    <img src="static/images/bride/b14.jpeg">
    <img src="static/images/bride/b15.jpeg">
    <img src="static/images/bride/b16.jpeg">
    <img src="static/images/bride/b17.jpeg">
    <img src="static/images/bride/b18.jpeg">
    <img src="static/images/bride/b19.JPG">
    <img src="static/images/bride/b20.jpeg">
    <img src="static/images/bride/b21.JPG">
</div>
<footer class="footer">

    <div class="footer-icons">

        <a href="#"><i class="fab fa-instagram"></i></a>

        <a href="#"><i class="fab fa-whatsapp"></i></a>

        <a href="#"><i class="fab fa-youtube"></i></a>

    </div>

    <p>
        © 2026 AN Photography | Capturing Timeless Memories
    </p>

</footer>

</body>

</html>