<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AN Photography</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;600&family=Cormorant+Garamond:wght@300;400;500&family=Allura&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<!-- ================= NAVBAR ================= -->

<nav class="navbar">
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/book">Book Us</a></li>
    </ul>
</nav>





<!-- ================================================= -->
<!-- WEDDING -->
<!-- ================================================= -->

<section class="gallery-hero">

   <img src="static/images/wedding_hero1.JPG">

    <div class="gallery-overlay">

        <h1>Wedding Photography</h1>

        <p>Capturing timeless wedding memories.</p>

        <a href="/wedding" class="gallery-view-btn">
            View Wedding Gallery
        </a>

    </div>

</section>





<!-- ================================================= -->
<!-- PRE WEDDING -->
<!-- ================================================= -->

<section class="gallery-hero">

    <img src="static/images/pre_wedding.jpeg">

    <div class="gallery-overlay">

        <h1>Pre Wedding</h1>

        <p>Beautiful love stories before the big day.</p>

        <a href="/prewedding" class="gallery-view-btn">
            View Pre Wedding Gallery
        </a>

    </div>

</section>






<!-- ================================================= -->
<!-- BABY SHOOT -->
<!-- ================================================= -->

<section class="gallery-hero">

   <img src="static/images/babyshoot_hero.jpeg">

    <div class="gallery-overlay">

        <h1>Baby Shoot</h1>

        <p>Every smile tells a beautiful story.</p>

        <a href="/babyshoot" class="gallery-view-btn">
            View Baby Shoot Gallery
        </a>

    </div>

</section>







<!-- ================================================= -->
<!-- MATERNITY -->
<!-- ================================================= -->

<section class="gallery-hero">

    <img src="static/images/maternity_hero.jpeg">

    <div class="gallery-overlay">

        <h1>Maternity</h1>

        <p>Celebrating the beautiful journey of motherhood.</p>

        <a href="/maternity" class="gallery-view-btn">
            View Maternity Gallery
        </a>

    </div>

</section>







<!-- ================================================= -->
<!-- OTHERS -->
<!-- ================================================= -->

<section class="gallery-hero">

    <img src="static/images/portfolio_hero.jpeg">

    <div class="gallery-overlay">

        <h1>Portfolio</h1>

        <p></p>

        <a href="/portfolio" class="gallery-view-btn">
            View Portfolio Gallery
        </a>

    </div>

</section>





</body>
</html>