<!DOCTYPE html>
<html>
<head>
    <title>Thank You | Anand Madas Photography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="thankyou-section">

    <div class="thankyou-box">
        <h1>Thank You</h1>

        <p>
            Your enquiry has been received successfully.
            <br><br>
            We will connect with you shortly.
        </p>

        <a href="/" class="home-btn">Back to Home</a>
    </div>

</section>

</body>
</html>